body{
    background-image: url("/static/image/big data1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000014;
}

.body{
    position: absolute;
    bottom: 30px;
    top: 135px;
    right: 0;
    left: 0;
}

.main-content{
    color: white;
    padding: 15px;
    margin-left: 0;  
    width: 100%;
    height: 100%;
    overflow: scroll;
    border:solid 1px #3bbde1;
    border-radius: 4px;
    
}

.result-content{
    color: white;
    padding: 15px;
    margin-left: 25px;  
    width: 90%;
    height: 150px;
    overflow: scroll;
    border:solid 1px #3bbde1;
    border-radius: 4px;
    display:none;
}
.main-content.analytic{
    
    padding: 0;

    
}

.fit-parent{
    overflow-y: hidden;
    height: 100%;
}
.navbar-inverse {
    background-color: #000014;
}

.select-size{
    width: 100%;
}

.font{
    color:black;
}
.analytic
{
    background-color: #00000094;
}

.analytic .x.axis text {
    fill: white;
}
.analytic .y.axisRight text {
    fill: orange;
}

.analytic .y.axisLeft text {
    fill: steelblue;
}

.analytic .axis path,
.analytic .axis line {
  fill: none;
  stroke:white;
  shape-rendering: crispEdges;
}

.analytic .bar1 {
  fill: steelblue;
}

.analytic .bar2 {
  fill: orange;
}

.analytic .x.axis path {
  display: none;
}

.tick text {
    fill: white;
}

.tick line {
    stroke: white;
}

.domain {
    stroke: white;
}

.domain text {
    fill:white;
}
.c3 path, .c3 line {
    fill: none;
    stroke:white ;
}

.c3-tooltip td{
    color: black;
}

.c3-circle{
    fill:pink;
}

.c3-axis-y-label,.c3-axis-x-label{
    fill:white;
}

.c3-legend-item text {
    fill:white;
}
#chart .c3-line-grade {
    stroke-width: 5px;
    stroke:white ;
  }
